/*==================================================*/
/*============= RESPONSIVE STYLESHEET ==============*/
/*==================================================*/
@media (max-width: 991px){
	#video {
		min-height: 580px;
	}
}
@media (max-width: 800px){
	#the-arts {
		height: 800px;
	}
	#video {
		min-height: 475px;
	}
}
@media (max-width: 768px){
	#video {
		min-height: 450px;
	}
}
@media (max-width: 767px){
	#the-arts {
		height: 100%;
		padding: 10% 0;
	}
	.building-container {
		position: static;
		top: 0;
		margin-bottom: 30px;
	}
	#video {
		min-height: 235px;
	}
	.meta-1 {
		position: static;
		width: 100%;
		transform: translateY(0);
	}
}